<div class="detail-section">
    <div class="cantainer-fluid">

        <img src="{{product?.imageUrl}}" class="detail-img">
        <h4>{{product.name}}</h4>
        <div class="price">
            {{product.unitPrice | currency:'USD'}}
            <br>
            <button (click)="addToCart()" class="btn btn-primary btn-sm">Add to Cart</button>
        </div>

        <hr>
        <h4>Description</h4>
        <p>{{product.description}}</p>
        <a routerLink="/products" class="mt-3 "> Back to Product List </a>


    </div>

</div>